<html>
  <head>
    <style>
      {{ Secure.css }}
    </style>
  </head>
  <body>
    {{ #if Secure.edit }}
    <form id="form" action="/data/{{ Secure.token }}?css={{ Secure.css }}&edit={{ Secure.edit }}" method="POST">
      {{ #if Secure.relay_url }}
      <input type="hidden" value="{{ Secure.relay_url }}" id="relay_url" name="relay_url">
      {{ /if }}
	  {{ #if Secure.js_message }}
	  <input type="hidden" value="{{ Secure.js_message }}" id="js_message" name="js_message">
	  {{ /if }}
      <input type="hidden" value="{{ Secure.path }}" id="path" name="path">
      {{ data_input Secure.data }}
      {{! {{ #each Secure.key_names }\} }}
      {{! <label class="checkbox-label"><input type="checkbox" class="checkbox" name="encryptedby" value="{{ this }\}">{{ this }\}</label><br/> }}
      {{! {{ /each }\} }}
      <input type="submit" value="Submit" name="submit" id="submit">
    </form>
    {{ else }}
      <p>
        {{ data_display Secure.data }}
      </p>
    {{ /if }}


	<script>
	{{ #if Secure.js_message }}
	  {{ #if Secure.edit }}
      document.getElementById("form").addEventListener('submit', functSubmit);
      function functSubmit(event) {
		const formTarget = event.target;
		var form = new FormData(formTarget);

		var formBody = [];
		for (let [name, value] of form) {
		  var encodedKey = encodeURIComponent(name);
		  var encodedValue = encodeURIComponent(value);
		  formBody.push(encodedKey + "=" + encodedValue);
		}
		formBody = formBody.join("&");

		fetch(formTarget.action, {
		  method: formTarget.method,
		  headers: {
    		'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
  		  },
  		  body: formBody
		})
		.then((res) => {
		  	window.parent.postMessage("{{ Secure.js_message }}", "*");
		  return res.text();
		});

		// Prevent the default form submit
		event.preventDefault();
	  }
	  {{/if}}
	{{/if}}

    </script>
  </body>
</html>
