<html>
  <head>
    <style>
      {{ Secure.css }}
    </style>
  </head>
  <body>
    {{ #if Secure.edit }}
    <form action="/data/{{ Secure.token }}?css={{ Secure.css }}&edit={{ Secure.edit }}" method="POST">
      <input type="hidden" value="{{ Secure.path }}" id="path" name="path">
      {{ data_input Secure.data }}
      {{! {{ #each Secure.key_names }\} }}
      {{! <label class="checkbox-label"><input type="checkbox" class="checkbox" name="encryptedby" value="{{ this }\}">{{ this }\}</label><br/> }}
      {{! {{ /each }\} }}
      <input type="submit" value="Submit" name="submit" id="submit">
    </form>
    {{ else }}
    <p>{{ data_display Secure.data }}</p>
    {{ /if }}
  </body>
</html>
