<html>
  <head>
    <style>
      {{ css }}
    </style>
  </head>
  <body>
    {{ #if edit }}
    <form action="/data/{{ token }}?css={{ css }}&edit={{ edit }}" method="POST">
      <input type="hidden" value="{{ path }}" id="path" name="path">
      {{ data_as_input data }}
      {{ #each key_names }}
      <label class="checkbox-label"><input type="checkbox" class="checkbox" name="encryptedby" value="{{ this }}">{{ this }}</label><br/>
      {{ /each }}
      <input type="submit" value="Submit" name="submit" id="submit">
    </form>
    {{ else }}
    <p>{{ data.value }}</p>
    {{ /if }}
  </body>
</html>
