<html>
  <head>
    <style>
      {{ Secure.css }}

      p, body, iframe {
		margin: 0px;
		padding: 0px;
		border: none;
		width: 100%;
		height: 100%;
		display: block;
		overflow: hidden;
		font-size: 18px;
	}
    </style>

  </head>
  <body>
    {{ #if Secure.edit }}
    <form action="/data/{{ Secure.token }}?css={{ Secure.css }}&edit={{ Secure.edit }}" method="POST">
      {{ #if Secure.relay_url }}
      <input type="hidden" value="{{ Secure.relay_url }}" id="relay_url" name="relay_url">
      {{ /if }}
      <input type="hidden" value="{{ Secure.path }}" id="path" name="path">
      {{ data_input Secure.data }}
      {{! {{ #each Secure.key_names }\} }}
      {{! <label class="checkbox-label"><input type="checkbox" class="checkbox" name="encryptedby" value="{{ this }\}">{{ this }\}</label><br/> }}
      {{! {{ /each }\} }}
      <input type="submit" value="Submit" name="submit" id="submit">
    </form>
    {{ else }}
      <p>
        {{ data_display Secure.data }}
      </p>
    {{ /if }}
  </body>
</html>
