<html>
  <head>
  </head>
  <body>
    <iframe id="data-iframe" src="" title="secure"></iframe>
    <script>
      document.getElementById("data-iframe").contentWindow.location.href = "/data/{{ path }}/{{ index }}/fetch_id/{{fetch_id}}/{{ token }}{{ #if css }}?css={{ css }}{{ /if }}";
    </script>
  </body>
</html>
